#imageModalShade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--faded-sec-first-color);
  z-index: 10;

  display: none;
}

#imageModalShade.galleryFadeIn {
  display: block;
  animation: fade-in 0.2s linear;
}

#imageModalShade.galleryFadeOut {
  display: block;
  animation: fade-out 0.2s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#minimizeModal {
  width: 40px;
  height: 40px;
  margin: 10px;

  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

#imageModalContainer {
  padding: 10px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#imageModal {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

#imageModal figure {
  max-width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  #imageModal figure {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  #imageModal figure {
    max-width: 500px;
  }
}

@media only screen and (max-height: 650px) {
  #imageModal figure {
    max-height: 80%;
    margin: auto;
  }
  #imageModal img {
    max-height: 100%;
    width: auto;
  }
  #imageModal figcaption {
    width: 100%;
  }
}

#imageModal figcaption {
  width: 100%;
  font-size: 20px;
}

#gallery figure {
  margin-bottom: 20px;
}

#gallery #photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery img {
  cursor: pointer;
  object-fit: cover;

  box-shadow: var(--box-shadow);
}

@media only screen and (min-width: 400px) {
  #gallery img {
    width: 100%;
  }

  #gallery figure {
    width: 300px;
    padding: 10px;
    margin: 10px;
  }
}

@media only screen and (min-width: 600px) {
  #gallery figure {
    width: 200px;
  }
}
