@import "./fonts.css";
@import "./styles.css";
@import "./gallery.css";
@import "./nav.css";
@import "./timeline.css";

.colorStyleBlock {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
