#timeline {
  width: 100%;
}

#timelineArea {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#timelineViewport {
  background-color: var(--secondary-first-color);
  box-shadow: var(--box-shadow);
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
}

@media screen and (min-width: 600px) {
  #timelineViewport {
    border-radius: 0px;
  }
}

.timelineDisplay {
  padding: 15px;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.notAllowedNavigation {
  cursor: not-allowed;
}

.blendInArrow {
  stroke: #105377;
}

@media screen and (min-width: 600px) {
  .timelineDisplay {
    padding: 20px;
  }
}

.timelineDisplay h3,
.timelineDisplay p {
  margin: 0;
  padding: 0;
}

.svgArrow {
  width: 50px;
  height: 50px;
}

.navigateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0px;
}

@media screen and (min-width: 600px) {
  .navigateContainer {
    padding: 10px;
  }
}
